body{
    text-align: center;
    background-color: #ccffcc;
    margin: 0;
    padding: 0;
}
.btn {
    height: 240px;
    width: 240px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 1rem;
}

.coin{
    display: flex;
   justify-content: center;
}

.line-one{
    display: flex;
}

.line-two {
    display: flex;
}
.a{
    background-color: #f99b45;
}
.b{
    background-color: #d95980;
}
.c{
    background-color: #63aac0;
}
.d{
    background-color: #192035;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}
body.game-over {
    background-color: red;
}
.reset{
    height: 40px;
    width: 100px;
    margin-left: 162px;
    border-radius: 20px;
}
.start{
    height: 40px;
    width: 100px;
    margin-right: 100px;
    border-radius: 20px;
}

.buttons{
    margin-left: 85px;
    margin-top: 30px;
    padding-bottom: 60px;
}

.icon-text {
    padding-top: 20px;
}